body {
    background-image: url('images/header.png');
    background-repeat: repeat;
}


.content {
    height: 400px;
    width: 500px;
    margin:auto;
    padding: 50px;
    background-color: rgb(247, 220, 240);
    border:thick solid rgb(213, 99, 184);
    color:rgb(0, 0, 0)
}