body {
    background-image: url('clouds.webp');
    background-repeat: no-repeat;
}


.content {
    height: 400px;
    width: 500px;
    margin:auto;
    padding: 50px;
    background-color: rgba(247, 220, 240, 0.504);
    border:thick solid rgb(213, 99, 184);
    color:rgb(0, 0, 0)
}